.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 15;
}

/* Hover (quand le curseur est dessus) */
.button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

/* Pressed (quand on clique) */
.button:pressed {
    -fx-background-color: #e0e0e0; /* Gris clair par exemple */
    -fx-text-fill: black;
}
